<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Membros</mat-card-title>
      </mat-card-header>
      <mat-error *ngIf="error !== ''">
        {{error}}
      </mat-error>
      <form class="example-form" [formGroup]="loginForm" >
        <mat-card-content>
          <mat-form-field class="example-full-width" style="margin-bottom: 1em">
            <input matInput placeholder="Usuário" [formControl]="f.email">
            <mat-error *ngIf="f.email.hasError('required')">
              Informe um usuário
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Senha" [formControl]="f.password" type="password">
            <mat-error *ngIf="f.password.hasError('required')">
              Informe uma senha
            </mat-error>
          </mat-form-field>
        </mat-card-content>
        <button mat-raised-button class="btn-success" type="submit" style="width: 100%" (click)="onSubmit()">Acessar</button>
      </form>
    </mat-card>
</div>
