

.mat-toolbar{
  height: 50px;
}

div {
    overflow: inherit;
}

.mat-sidenav-container{
  min-height: calc(100vh - 50px) !important;
}

a{
    text-decoration: none;
    white-space: normal;
}

button{
    min-width: min-content;
}

.example-icon {
    padding: 0 14px;
  }

.example-spacer {
  flex: 1 1 auto;
}

.customA{
  text-align:left; padding:0 2em 0 0.5em
}
